@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  place-items: center;
  height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.board-row {
  padding: 1px 1px 1px 1px;
}

.board {
  position: absolute;
  left: 20px;
  top: 10px;
}

.square {
  width: 100px;
  height: 100px;
  font: bold 36px Arial;
  margin: 3px;
  text-decoration: none;
  background-color: #999898;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-radius: 20px; 
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.selected {
  background-color: #444;
  color: #eee;
}

.empty {
  background-color: rgb(255, 255, 255);
}

.correct {
  background-color: #070;
  color: #eee;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.button-container {
  display: flex;
}


.scoreRow {
  align-content: center;
  width: 250px;
  height: 100px;
  color:#171717;
  background-color: #CCCCCC;
  border-radius: 20px;
  margin-bottom: 80px;
  padding-left: 50px; /* centers moves and score text */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.arrow-key {
  width: 100px;
  height: 50px;
  color:#333333;
  background-color: rgb(228, 131, 210);
  padding: 2px 6px 2px 6px;
  margin: 10px;
  border-radius: 20px; 
  font-size: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keypadRow{
  display: flex;
  justify-content: center;
  width:100%;
}